grisClaro = #E8E8E8
grisOscuro = #444
blanco = #FFF
celeste = #22BCE0

body
  background grisClaro
  color grisOscuro
  font-family Arial
  font-size 16px

header
  background grisOscuro
  color blanco
  padding 0.5em

  .logo
    border-right 1px solid celeste
    width 60px
    img
      width 52px

  .titular
    margin 0 80px 0 70px
    .titulo
      font-size 18px
      font-weight bold
      margin 0
      padding 0
    .filtro
      color celeste
      font-size 14px
      font-style italic
      font-weight bold
      text-decoration none

  .usuario
    .avatar
      img
        border-radius 50%
        width 50px

nav
  background celeste

.left
  float left

.right
  float right